.container{
    width: 100%;
    margin: auto;
}
h1{
    text-align: center;
    font-size: 40px;
}
label{
    font-size: 18px;
}
.form{
    width: 60%;
    margin: auto;
    padding: 20px;
}
.form input{
    margin-left: 1em;
    height: 2em;
    padding-right: 10em;
    margin-bottom: 20px;
}
input{
        position: relative;
        margin-right: 10px; 
       
}
.blocs{
    display: flex;
    width: 60%;
    margin: auto;
    height: 100vh;
    background: rgb(34, 33, 33);
    display: block;
    padding: 10px;
 
}
span{
    font-size: 20px;
    list-style-type: none;
    width: 95%;
}
li{
    background: coral;
    padding: 12px 10px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
button{
    display: block;
    padding: 10px 30px;
    font-weight: bold;
    font-size: 18px;
}

.rayer {
    text-decoration: line-through;
    
}
img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
}

ul{
    display: flex;
    width: 100px;

}